<?php if ($this->previewMode): ?>

    <div class="form-control">
        <?= $value ?>
    </div>

<?php else: ?>

<!-- Create the autosave indicator -->
<div id="quill-autosave-indicator"></div>

<!-- Create the editor container -->
<div id="scrolling-container">
    <input type="hidden"
           id="quill-content"
           name="Post[content]"
           value="<?= e($delta) ?>"

    />
    <input type="hidden"
           id="quill-delta"
           name="Post[powerblog_delta]"
           value="<?= e($delta) ?>"
    />

    <div id="quill-editor"></div>
</div>
<?php endif ?>
